@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Poppins', sans-serif; */
/* blue-- #0563ba; */
*{
  margin: 0;
  padding: 0;
 
}
.container{
  width:100%;
  height:100vh;
 
}
.nav{
  position: fixed;
  z-index: 1000;
  background-color: #0563ba;
  height:15vh ;
  width: 100%;
}

.nav2{
  height: 13.5vh;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1000;
  
}
.d1{
  height: 12vh;
  width: 34%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
 
}
.d11{
  height: 10vh;
  width: 15%;
  margin-left: 2%;
  margin-left: 20%;
}
.d12 h1{
  font-size: 2rem;
  font-weight: bolder;
  letter-spacing: 2px;
  padding:1rem 1rem 0 0;
  font-family: 'Roboto', sans-serif;
}
.d2{
  height: 8vh;
  width: 66%;
  padding:0 4rem;
  margin-left:10%;
  font-family: 'Poppins', sans-serif; 
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  position: relative;
  color: #0087ca;
}
.d2 a{
  text-decoration: none;
  position: relative;
  color: #000;
}
.d2 a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.d2 a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}
  .outer-div1{
    height: 325vh;
    width: 95%;
    background-color: rgb(255, 255, 255);
    padding-left: 2%;
    }
    .inner-div0{
      height: 60vh;
      width: 100%;
      background-image: url('images/bg.jpg');
      background-position: bottom;
      background-repeat: no-repeat;
      background-size:cover;
      position: relative;
      background-attachment: fixed;
      margin-bottom:2rem;
  }
  .inner-div-1-1{
      height:60vh;
      width:100%;
      background-color: transparent;
      background: rgb(0, 0, 0, 0.7);
      padding-top: 32vh;
      color: white;
      padding-left: 37%;
      font-size: 30px;
  }
  
  .inner-div-1-1 .heading2{
    padding-left: 3rem;
    font-size: 4rem;
  }
  
.eq{
border-radius: 15px;
}
.inner-div1{
height: 60vh;
width: 90%;
display: flex;
margin-top: 10vh;

}
.image img{
position: relative;
margin-left: 80%;
width: 10%;
height: 20vh;
}
.image1 img{
position: relative;
margin-left: 6%;
width: 10%;
height: 20vh;
}
.inner-div2{
height: 60vh;
width: 100%; 
margin-top: 10vh;
display: flex;
}
.inner-div3{
height: 60vh;
width: 100%;
margin-top: 10vh;
display: flex;
}
.inner-div4{
height: 60vh;
width: 100%;
margin-top: 10vh;
display: flex;
}

.box1{
        height: 55vh;
        width: 50%;
        background-color:#1ca1e3;
        margin-left: 4%;
        margin-top: 4vh;
    }
.box2{
height: 50vh;
width: 40%;
margin-left: 4%;
margin-top: 4vh;

/* border-radius: 15px;
box-shadow:5px 5px 5px 5px #858585 ; */
}
.box4{
        height: 50vh;
        width: 50%;
        background-color:#1ca1e3;
        margin-left: 4%;
        margin-top: 4vh;
    }
.box3{
height: 50vh;
width: 40%;
margin-left: 4%;
margin-top: 4vh;
background-color: rgb(255, 255, 255);
/* border-radius: 15px;
box-shadow:5px 5px 5px 5px #858585 ; */
}
.box5{
        height: 50vh;
        width: 50%;
        background-color:#1ca1e3;
        margin-left: 4%;
        margin-top: 4vh;
    }
.box6{
height: 50vh;
width: 40%;
margin-left: 4%;
margin-top: 4vh;
/* border-radius: 15px;
box-shadow:5px 5px 5px 5px #858585 ; */
}
.box8{
        height: 55vh;
        width: 50%;
        background-color:#1ca1e3;
        margin-left: 4%;
        margin-top: 4vh;
    }
.box7{
height: 50vh;
width: 40%;
margin-left: 4%;
margin-top: 4vh;
}
.box9{
        height: 50vh;
        width: 50%;
        background-color:#1ca1e3;
        margin-left: 4%;
        margin-top: 4vh;
    }
.box10{
height: 50vh;
width: 40%;
margin-left: 4%;
margin-top: 4vh;
}
.head1 h2{
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color:snow;
  padding: 1rem 2rem;
}
.box1 p{
  font-family: 'Poppins', sans-serif;
  color:snow;
  padding: 1rem 2rem;
  font-size: 1.5rem;
}
.head2 h2{
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color:snow;
  padding: 1rem 2rem;
}
.box4 p{
  font-family: 'Poppins', sans-serif;
  color:snow;
  padding: 1rem 2rem;
  font-size: 1.5rem;
}
.head4 h2{
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color:snow;
  padding: 1rem 2rem;
}
.box8 p{
  font-family: 'Poppins', sans-serif;
  color:snow;
  padding: 1rem 2rem;
  font-size: 1.5rem;
}
.head5 h2{
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color:snow;
  padding: 1rem 2rem;
}
.box9 p{
  font-family: 'Poppins', sans-serif;
  color:snow;
  padding: 1rem 2rem;
  font-size: 1.5rem;
}
.head3 h2{
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color:snow;
  padding: 1rem 2rem;
}
.box5 p{
  font-family: 'Poppins', sans-serif;
  color:snow;
  padding: 1rem 2rem;
  font-size: 1.5rem;
}
.new3{
height: 50vh;
width: 32%;
margin-right: 5%;
background-color: #a1e0a6;
position:absolute;
z-index: 3;
margin-top: 2.6vh;
margin-left: 5%;
border-radius: 10px;
box-shadow: 5px 5px 15px 2px rgb(63, 63, 63);
transform: rotate(-10deg);
}
.new4{
height: 50vh;
width: 32%;
margin-right: 5%;
background-color: #a1e0a6;
position:absolute;
z-index: 3;
margin-top: 2.6vh;
margin-left: 5%;
border-radius: 10px;
box-shadow: 5px 5px 15px 2px rgb(63, 63, 63);
transform: rotate(10deg);
}
.head1{
height: 10vh;
width: 100%;
background-color: #0563ba;
border-radius: 10px;
}
.head2{
height: 10vh;
width: 100%;
background-color: #0563ba;
border-radius: 10px;
}
.head3{
height: 10vh;
width: 100%;
background-color: #0563ba;
border-radius: 10px;
}
.head4{
height: 10vh;
width: 100%;
background-color: #0563ba;
border-radius: 10px;
}
.head5{
height: 10vh;
width: 100%;
background-color: #0563ba;
border-radius: 10px;
}

.footer-div{
    height: 15rem;
    width: 100%;
    margin-top: 20vh;
  }
  .footer{
    width:100%;
    height: 20rem;
    display:flex;
    background-color: #1c1c1c;
    align-items: center;
    justify-content: space-between;
    padding:2rem 12rem 2rem 10rem;
    box-shadow:2px 2px 2px 2px inset #c7c7c7;
   
    color:snow;
  }
  .footer-img{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0 3rem;
  }
  .footer-img img{
    width:8rem;
    height:8rem;
  }
  .footer1 h1{
    margin-top: 2rem;
    margin-left: 1rem;
  }
  .footer2{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 3rem;;
  }
  .footer2 h1{
    margin-bottom:1rem;
  }
  #text-1{
    display:flex;
  }
  #text-1 a{
    text-decoration: none;
  }
  #text-1 p{
    margin-left: 0.5rem;
    margin-bottom: 1rem;
  }
  .contain-1{
    margin-right: 5rem;
  }
  #icon{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7rem;
  }
  #icon i{
    color:snow;
    cursor: pointer;
  }